<div class='footer'>
    <div class='footer__item'>
        <div>
            <img src="/static/images/coppercore_on.png" alt="logo" className="logo" />                                   
        </div>
        
        <div class="header__wide__links">
            <a href="/">Home</a>
            <a href="/products">Our Products</a>
            <a href="/contacts">Contacts</a>
        </div>    
        
    </div>
    <hr/>
    <div class='footer__item'>        
    
        <div class="social-icons">            
            <a href="https://www.facebook.com/Coppercore010" class='icon-fb'> <i class="fa-brands fa-facebook-f"></i> </a>
            <a href="https://www.facebook.com/Coppercore010" class='icon-twitter'> <i class="fa-brands fa-twitter"></i> </a>
            <a href="https://www.facebook.com/Coppercore010" class='icon-linkedin'><i class="fa-brands fa-linkedin-in"></i></a>
        </div>

        <div>
            © 2023 CopperCore Corp. All Rights reserved                                  
        </div>
        
    </div>
</div>